[submodule "5. Reproducible Research"]
	path = 5. Reproducible Research
	url = https://github.com/yannarosh/RepData_PeerAssessment1.git


[submodule "4. Exploratory Data Analysis/Course project 13"]
	path = 4. Exploratory Data Analysis/Course project 13
	url = https://github.com/yannarosh/ExData_Plotting1.git
